@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to bottom, #F2D6A2, #F2A766 );
    background-attachment: fixed; /*serve para deixar o degradê uniforme na tela*/
}

main {
    background-color: white;
    border-radius: 10px; /*cantos arredondados*/
    box-shadow: 5px 5px 15px rgba(185, 95, 62, 0.575); /*sombra na caixa branca onde o texto está inserido*/
    width: 600px; /* largura */
    padding: 10px; /* acolchoamento - espaço do final do texto para a borda */
    margin: auto; /* centralização do texto, tornando flexivil à altração da página */
}

h1 {
    color: rgb(217, 137, 119);
    text-align: center; /* Centraliza o texto */
    text-shadow: 1px 1px 2px rgba(179, 113, 98, 0.774); /*coloca sombra na letra - BAIXOpx; LADOpx; TRANSPARÊNCIApx*/
}

h2 {
    color: #D9704A;
}

p {
    text-align: justify;
}

